<div class="task-checkbox">
    <ul class="list-group">
        <li *ngFor="let task of tasks" class="list-group-item">
            <div>
                <input type="checkbox" 
                    class="list-child" 
                    (change)="onTasksChange($event, task)"
                    [checked]="task.completed">
                <span ngClass="task.completed ? 'name completed'  : 'name'">{{task.name}}</span>
                <span class="label {{ getDueDateLabel(task) }} pull=right"> {{task.date}}</span> 
            </div>

            <button class="btn btn-danger btn-sm" (click)="deleteTask(task)"> Delete</button>
        </li>
    </ul>
</div>